<!DOCTYPE html>
<html lang="en">

<head>
  <title>Face Recognition Service</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
  <div class="container">
    <nav>
      <a class="bl" href="/">Home</a>
      {% if session.logged_in %}
      <span style="margin-left: 400px;">Welcome, {{ session.user.username }}!</span>
      <a href="/archive">Archive</a>
      <form method="POST" action="/user/signout" style="display: inline;">
        <button type="submit" class="signout-btn">Sign Out</button>
      </form>
      {% else %}
      <a class="br" href="/login">Log In</a>
      <a href="/signup">Sign Up</a>
      {% endif %}
    </nav>
    <main>{% block container %}{% endblock %}</main>
  </div>
  {% block scripts %}
  {% endblock scripts %}
</body>

</html>