/* Enhanced Base Styles */
body {
  font-family: Fira Code VF,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

h1,
h2 {
  color: #444;
  text-align: center;
}

/* Transcripts Container Styles */
.transcripts-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transcript {
  padding: 20px;
  margin-bottom: 20px;
}

.transcript:last-child {
  border-bottom: none;
}

.transcript p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* Audio Player Styling */
.audio-player {
  border-bottom: 3px solid #eee;
  text-align: center;
  margin-top: 20px;
}

audio {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}

/* Attitude Analysis Styling */
.transcript p:nth-child(3) {
  font-weight: bold;
  color: #0056b3;
}
.sentiment-interpretation {
  font-weight: bold;
  color: #0056b3;
}

/* Hover Effects */
a:hover,
input[type="submit"]:hover,
button.submit-btn:hover,
.back-btn:hover {
  opacity: 0.9;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container,
  .upload-container,
  .response-container,
  .transcripts-container {
    width: 90%;
    margin: 20px auto;
  }

  audio {
    width: 100%;
  }
}

/* Enhanced Navigation Styles */
nav {
  background-color: rgb(251, 191, 36);
  color: #64748B;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 30px;

  .bl {
    justify-content: flex-start;
    display: flex;
  }

  .br {
    flex:1;           
    justify-content: flex-end;
    display: flex;
  }
}


nav a,
nav form button {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover,
nav form button:hover {
  color: #0056b3;
}

/* Main Container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Upload Container */
.upload-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.upload-container h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Styling for Input Fields */
.upload-container input[type="text"],
.upload-container input[type="password"] {
  width: 380px;
  padding: 12px 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Styling for Submit Button */
.submit-btn {
  width: 150px;
  padding: 12px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: rgb(2, 132, 199);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-sizing: border-box;
}

.submit-btn:hover {
  background-color: rgb(21, 94, 117);
}

/* Audio Capture Buttons */
.audio-capture-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.audio-capture-container button {
  background-color: rgb(2, 132, 199);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.audio-capture-container button:hover {
  background-color: rgb(21, 94, 117);
}

.audio-capture-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  color: #666666;
}

.processing-status {
  color: #007bff;
  font-weight: bold;
}

.error-status {
  color: #ff003c;
  font-weight: bold;
}

/* File Input and Upload Button */
#upload-form {
  margin-top: 20px;
}

#upload-form input[type="file"] {
  margin-bottom: 20px;
}

/* Style for the custom file input label */
.file-input-label {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #8a8484;
  border-radius: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #b8b0b0;
}

/* Style for the span that shows the chosen file name */
#file-chosen {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.9rem;
}

/* Error Message Styling */
.error {
  color: #ff3860;
  background-color: #ffebee;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

/* Upload Form Styling */
#upload-form {
  border: 2px dashed #ccc;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#upload-form input[type="file"] {
  margin-bottom: 10px;
  width: 80%;
}

.signout-btn {
  background-color: #ff3860;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  margin-left: 10px;
}

.signout-btn:hover {
  /* background-color: rgb(21, 94, 117); */
}

.archive-entry-container{
  display: flex;
  gap: 20px;
}